.hover, .rotate, .translateX, .threeD, .skew, .translateY, .scale{
    width: 110px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color: violet;
    color: white;
     border-radius: 50px;
    cursor: pointer;
    transition-property: color, background-color, transform;
    transition-duration: 3s;
}

body{
    background-color: lightskyblue;
}

.hover:hover{
    color: chartreuse;
    background-color: darkred;
    
}

.rotate:hover{
    color: chartreuse;
    background-color: purple;
    transform: rotate(360deg);
}

.translateX:hover{
    color: magenta;
    background-color: black;
    transform: translateX(30px);
}

.threeD:hover{
    color: chocolate;
    background-color: darkgreen;
    transform: rotate3d(1, 1, 1, 30deg) matrix3d(1,0,0,0,0,1,6,0,0,0,1,0,50,100,0,1.1);
}

.translateY:hover{
    color: darkmagenta;
    background-color: hotpink;
    transform: translateY(40px);
}

.skew:hover{
    color: fuchsia;
    background-color: black;
transform: skew(50deg, 20deg);
}
.scale:hover{
    color: fuchsia;
    background-color: black;
transform: scale(2, 3);
}